.starter-template {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 850px; /* or 950px */
  min-width: 850px; /* or 950px */
}